/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

.system-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }